# Игнорировать временные файлы
*.log           # Логи
*.tmp           # Временные файлы

# Игнорировать папку vendor (для Composer)
vendor/         # Папка с зависимостями Composer

# Игнорировать файл конфигурации с секретами
.env            # Файл окружения с конфиденциальной информацией

# Игнорировать файлы IDE
.idea/          # Папка конфигурации для PhpStorm
.vscode/        # Папка конфигурации для Visual Studio Code

# Игнорировать кэш и временные файлы
/cache/         # Кэш приложения
*.phpunit.result.cache # Результаты тестов PHPUnit

# Игнорировать системные файлы
.DS_Store       # macOS
Thumbs.db       # Windows
